
@{
    ViewData["Title"] = "Users";
    ViewData["Icon"] = "dripicons-user-group";
}

<h1>Index</h1>

@section Menu
{
    <div class="float-right d-none d-md-block">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="ti-settings mr-1"></i> Settings
            </button>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated">
                <a class="dropdown-item" href="#">Create New</a>
            </div>
        </div>
    </div>
}