<!-- Footer -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                © @DateTime.Now.Year Master Report <span class="d-none d-md-inline-block"> - Crafted with <i class="mdi mdi-heart text-danger"></i> by <a href="#">Erikson Melgarejo</a>.</span>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->