name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DAY_OF_WEEK: Mon
    steps:    
    - uses: actions/checkout@v2
    -
      name: Build the Docker image
      ##run: docker build . --file Dockerfile --tag eriksongm/master-report:$(date +%s)
      run: docker build . --file src/MasterReport.UI/Dockerfile --tag eriksongm/master-report:${{ secrets.MAJOR }}.${{ secrets.MINOR }}
    - run: echo $DAY_OF_WEEK    
    -
      name: Login to DockerHub
      uses: docker/login-action@v1 
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    -
      name: Push to DockerHub
      run: docker push eriksongm/master-report:${{ secrets.MAJOR }}.${{ secrets.MINOR }}
    -
      uses: hmanzur/actions-set-secret@v2.0.0
      with:
        name: 'MINOR'
        value: '5'
        repository: EriksonGM/MasterReport
        token: ${{ secrets.REPO_ACCESS_TOKEN }}
